.gradle/
build/
local.properties
.externalNativeBuild/
.cxx/

.idea/
*.iml

.DS_Store
Thumbs.db

*.log

*.apk
*.aab

captures/

google-services.json
.env

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*